@model IEnumerable<MVC_CRUD.Models.MPatientInfocs>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
  @foreach (var obj in Model)
  {
    <table style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <tr>
            <td>
                Employe Name:
            </td>
            <td>
                obj.name
            </td>
        </tr>

        <tr>
            <td>
                Employe Address:
            </td>
            <td>
                obj.Address
            </td>
        </tr>
    </table>
  }
    @*<table style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
        <tr>
            <td>
                Employe Name:
            </td>
            <td>
                @Model.name
            </td>
        </tr>
        
        <tr>
            <td>
                Employe Address:
            </td>
            <td>
                @Model.Address
            </td>
        </tr>
    </table>*@
</body>
</html>
