
<html>
<head>
    <title>The jQuery Example</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            var Array1 = [100, 200, 300, 400];
            var Result = '';
          
        });
        </script>
    <style>
      .jag_class
      {
          background-color:yellow;
      }

    </style>

</head>

<body>


       <ul>
        <li>INDIA</li>
        <li>PAKISTAN</li>
        <li>AUS</li>
        <li>USA</li>
        <li>UK</li>
    </ul>
   <div id="jag" class="jag_class">

   </div>

</body>

</html>

