
@{
    Layout = null;
}

<!DOCTYPE html>
@{
    Html.EnableClientValidation();
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @TempData["prasa"]
        
    </div>
</body>
</html>
