@model MVC_CRUD.Models.MPatientInfocs
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    
    <div> 
        <table style="border:1px solid black">
            <tr>
                <td>
                    @Model.Name
                </td>
            </tr>
            <tr>
                <td>
                   @Model.Address
                </td>
            </tr>
          
        </table>

       @Html.ActionLink("BackToList", "Index", "PatientInfo")

    </div>
</body>
</html>
